header h1{
color:blue ;
}
ol{
    color: blueviolet;
}
h1{
    color: blueviolet;
}
#span2{
    color: brown;
}
body{
    background-color: greenyellow;
}
#spand1{
    color: blue;
}
ul{
    color: black;
}